<div id="phone_configurator">
  <img src="/images/phone_configurator.png"/>

  <div id="dialplan_details" class="span-17">
    <div id="dialplan_details"> 
      <% form_for(:demo_callplan, :url=>demo_callplan_path(@callplan.id), :html => { :method => :put }) do |@form| %>
       <div id="try_it_thread">
        <div class="step_box">
          <%= render :partial => 'instructions_step1' %>
          <%= render :partial => 'company_name' %>
        </div>
        <div class="step_box">
          <h3> Ring <%= @callplan.company_name %> at <%= @callplan.inbound_number.phone_number %> (It's free!)</h3>
        </div>
        <%= render :partial => 'instructions_step2' %>
        <%= image_submit_tag "/images/next.png", :id => "next_submit_image" %> 
      </div>
      <% end %>
    </div>
  </div>
</div>
