<div id="phone_configurator">
  <div id="dialplan_details" class="span-7">
    <div id="dialplan_details">
      <div id="try_it_thread">
        <div class="step_box">
          That looks more like a useful callplan.
          Please ring <%= @callplan.inbound_number.phone_number %> again to hear how it sounds.
          Feel free to change it (and save it) as you see fit.
        </div>
        <div class="step_box">
          To keep this callplan and access all the other ringtings benefits (free for a month). Please create an account.
          Please fill in: <br/>
          <% form_for(:demo_callplan, :url=>"/demo_callplans/create_user/#{@callplan.id}", :html => { :method => :put }) do |form| %>
            <%= form.error_messages %>
            <div class="text_field">
              <%= form.label :email %>
              <%= form.text_field :email, :size=>20, :value => @callplan.employee.email_address %>
            </div>
            <div class="password_field">
              <%= form.label :password %>
              <%= form.password_field :password, :size =>20 %>
            </div>
            <div class="password_field">
              <%= form.label :password_confirmation, "Confirm password" %>
              <%= form.password_field :password_confirmation, :size =>20 %>
            </div>
            <%= image_submit_tag "/images/next.png", :id => "next_submit_image" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="callplan" class="span-10">
    <h3>Callplan</h3>
    <% form_for :callplan, @callplan, :put, :url=>demo_callplan_path, :html => { :method => :put } do |callplan_form| %>
      <div class="callplan_details" class="span-10">
        <%= render :partial => '/shared/inbound_number', :locals => { :inbound_number => @callplan.inbound_number.phone_number } %>
        <%= render :partial => '/shared/ivr_menu',
          :locals => { :ivr_menu=>@callplan.action.ivr_menu, :callplan_form => callplan_form } %>
        <div class="save_button">
          <%= image_submit_tag "/images/save_button.png", :id => "save_button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
