<div id="phone_configurator">
  <img src="/images/phone_configurator.png"/>

  <h3>  Ring <%= @company_name %> at <%= @inbound_number %> </h3>
  <div id="instructions" class="span-7">
    Instructions:<br/>
    <ul>
      <%= render :partial => 'instructions_step2' %>
    </ul>
  </div>
  <div id="dialplan_details" class="span-10">
    <div id="dialplan_details"> 
      <% form_for(:callplans, :url=>callplan_path(1), :html => { :method => :put }) do |@form| %>
        <%= render :partial => 'company_name' %>
        <%= render :partial => 'email_and_destination_number' %>
        <%= @form.submit "next" %> 
      <% end %>
    </div>
  </div>
</div>
