<% form_for :demo_callplan, :url=>demo_callplans_path do |form| %>
  <div id="try_it_thread">
    <div class="step_box">
      <%= form.label :company_name %><br />
      <%= form.text_field :company_name, :size=>30 %><br/>
      <%= form.label :phone_number %><br />
      <%= form.text_field :phone_number, :size=>20 %><br/>
      e.g. 01234567890 or 441234567890
    </div>
    <%= image_submit_tag "/images/next.png", :id => "next_submit_image" %> 
  </div>
<% end %>

