<!DOCTYPE HTML>
<html>
  <head>
    <%= javascript_include_tag 'jquery', 'application', 'jquery-ui', 'carousel' %>
    <link rel="stylesheet" href="/stylesheets/jquery-ui/jquery-ui-1.8.1.custom.css" type="text/css" media="screen,projection" />	
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />	
    <link rel="stylesheet" href="/stylesheets/ringtings.css" type="text/css" media="screen,projection" />	
  </head>
  <body id="<%= @tab %>">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16614765-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
     <div class="container">
       <div class="span-24 last">
         <div class="top_section">
           <%= render :partial => '/shared/breadcrumbs' %>
           <div class="page_header">
             <a href="/"><img src="/images/ringtings.png" /></a><br />
             <h3>Get a <b>tailored, professional telephone system</b> for your business, instantly</h3>
           </div>
           <% if signed_in? %>
             <ul id="tabnav">
               <% callplan_id = current_user.callplan ? current_user.callplan.id : nil %>
               <li class="callplan"><a href="/callplans/<%= callplan_id if callplan_id %>">callplan</a></li>
               <li class="voicemail"><a href="/voicemail">voicemail</a></li>
               <li class="account"><a href="/account">my account</a></li>
             </ul>
          <% end %>
        </div>
      </div>
      <div class="span-24 last">
        <div class="main_content" >
          <% if flash[:success] %>
            <div class="success"><%= flash[:success] %></div>
          <% end %>
          <% if flash[:failure] %>
            <div class="failure"><%= flash[:failure] %></div>
          <% end %>
          <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:error] %>
            <div class="notice"><%= flash[:error] %></div>
          <% end %>
          <%= yield -%>
        </div>
      </div>
      <div class="span-24 last">
        Footer
      </div>
    </div>
  </body>
</html>
