<head>
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">	
  <link rel="stylesheet" href="/css/ringtings.css" type="text/css" media="screen,projection">	
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
  <div class="container">
    <div class="span-24 last">
      <div class="top_section">
        <%= render :partial => '/shared/breadcrumbs' %>
        <div class="page_header">
          <a href="/">ringTings.com</a>
        </div>
        <div id="tabs">
          <ul class="tabs_list">
            <li><a href="">home</a></li>
            <li><a href="">get started</a></li>
            <li><a href="">more info</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span-21 last">
      <div class="main_content">
        <% if flash[:success] %>
          <div class="success"><%= flash[:success] %></div>
        <% end %>
        <% if flash[:failure] %>
          <div class="failure"><%= flash[:failure] %></div>
        <% end %>
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <%= yield -%>
      </div>
    </div>
    <div class="span-24 last">
      Footer
    </div>
  </div>
</body>
